.stopwatch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;    
}

.stopwatch-container {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 32rem;
    height: 10rem;
    border-radius: 1rem;
    border: 0.25rem solid;
    border-color: var(--comment-color);
    color: var(--main-text-color);
}

.stopwatch-container__display {
    font-size: 5rem;
    opacity: 0.85;
}

.controls {
    width: 20rem;
    display: flex;
    justify-content: space-between
}

.controls-startBtn, 
.controls-stopBtn, 
.controls-resetBtn {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: var(--comment-color);
    border: 0.15rem solid;
    border-color: var(--secondary-color);
    font-size: 1.5rem;
    color: var(--main-text-color);
}