@import url(/src/styles.scss);

.switch {
    position: relative;
    display: grid;
    justify-content: center;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 1;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gray-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.625rem;
    width: 1.625rem;
    left: 0.25rem;
    bottom: 0.25rem;
    background-color: var(--main-text-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--accent-color);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 2rem var(--accent-color);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 2.125rem;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }