<div class="main-container center">
    <div class="controls-center">
        <app-timer-input (timeSelected)="onTimeSelected($event)"></app-timer-input>
        <div class="timer-container center">
            <div class="timer center">
                <div class="innerTimer">
                    <div class="timer-unit">{{ hrs }}</div>
                    <div class="colon">:</div>
                    <div class="timer-unit">{{ mins }}</div>
                    <div class="colon">:</div>
                    <div class="timer-unit">{{ secs }}</div>
            </div>
        </div>
    </div>
    <div class="controls center">
        <button class="controls-startBtn" (click)="startTimer()">Start</button>
        <button class="controls-stopBtn" (click)="stopTimer()">Stop</button>
        <button class="controls-resetBtn" (click)="resetTimer()">Reset</button>
    </div>
</div>